<div class="container">

  <p id="notice"><%= notice %></p>

  <section class="hero is-small">
      <%= image_tag "BANNER_REBAJAS_ESP.jpg" %>
  </section>

 <section class="hero is-primary">
    <div class="hero-body">
      <p class="title">
        Hero title
      </p>
      <p class="subtitle">
        Hero subtitle
      </p>
    </div>
  </section>

  <section>
    <div class="columns is-mobile is-multiline">
      <% @products.each_with_index do |product, index| %>
        <%= link_to product, :action => 'go' do %>
          <div class="column  is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-quarter-widescreen is-one-quarter-fullhd">
            <div class="card">
              <div class="card-image">
                <img alt="<%= @product_info[index][0]%>" src="<%= @product_info[index][1]%>">
              </div>
            
              <div class="card-header-title is centered has-text-centered">
                <%= product.name %><br>
              </div>

            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </section>

</div>


